In [12]:
## From SQL to DataFrame Pandas
import pandas as pd
#open database connectivity is a standard application programming interface for accessing database management systems
import pyodbc

sql_conn = pyodbc.connect('Driver={SQL Server};'
                            'Server=PC-UTILISATEUR/MSSQLSERVER01;'
                            'Database=Adventureworks2012;'
                            'Trusted_Connection=yes;') 

query = "SELECT [BusinessEntityID],[FirstName],[LastName],[PostalCode],[City] FROM [Sales].[vSalesPerson]"
df = pd.read_sql(query, sql_conn)

df.head(3)

OperationalError: ('08001', '[08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]SQL Server does not exist or access denied. (17) (SQLDriverConnect); [08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionOpen (Connect()). (67)')

In [ ]:
#Inserting data from Python pandas dataframe to SQL Server
connStr = pyodbc.connect('DRIVER={ODBC Driver 13 for SQL Server};
                            SERVER=SQLSERVER2017;
                            DATABASE=Adventureworks;
                            Trusted_Connection=yes')
cursor = connStr.cursor()

for index,row in df.iterrows():
.. cursor.execute("INSERT INTO dbo.vSalesPerson_test([BusinessEntityID],
                        [FirstName],[LastName]) 
                         values (?, ?,?)", row['BusinessEntityID'], 
                                           row['FirstName'], 
                                           row['LastName']) 
.. connStr.commit()
cursor.close()
connStr.close()