In [1]:
a=5
a

5

In [2]:
print('HI')

HI

In [14]:
print(' insert into PythonTable(id , name ,LastName , DOB) values (1,\'Michael\', \'Kidane\',\'1987-12-01\')')

 insert into PythonTable(id , name ,LastName , DOB) values (1,'Michael', 'Kidane','1987-12-01')

In [17]:
print("Here is, \"a quote\"")

Here is, "a quote"

In [20]:
import pyodbc
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=PC-UTILISATEUR\MSSQLSERVER01;'
                      'Database=PythonDB2;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute(' insert into PythonTable(id , name ,LastName , DOB) values (2,\'Michael\', \'Kidane\',\'1987-12-01\')')

In [21]:
conn.close()

In [24]:
import pyodbc
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=PC-UTILISATEUR\MSSQLSERVER01;'
                      'Database=PythonDB2;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute('select * from PythonTable')
for row in cursor:
    print(row)

(1, 'Michael', 'Kidane', '1987-12-01')